.Rproj.user/
.DS_Store
*.out
.Rhistory
*.o
*.so
*.dll
*.tar.gz
*.Rcheck/
..Rcheck/
*.RData
*.Ruserdata
.Rlib/
.tmp/
BPD2.R
/doc/
/Meta/
Rplots.pdf
/qa_plots/
/qa_model_behavior/
/qa_model_behavior_full/
/scripts/
